projects:
  - url: http://boinc2.cs.hs-rm.de/abclll/
  - url: http://abcathome.com/
  - url: http://albert.phys.uwm.edu/
  - url: http://boinc.almeregrid.nl/
  - url: http://server1.almeregrid.nl/testgrid/
  - url: http://burp.renderfarming.net/
  - url: http://casathome.ihep.ac.cn/
  - url: http://www.chess960athome.org/alpha/
  - url: http://cpdnbeta.oerc.ox.ac.uk/
  - url: http://boinc.thesonntags.com/collatz/
  - url: http://aerospaceresearch.net/constellation/
  - url: http://convector.fsv.cvut.cz/
  - url: http://www.cosmologyathome.org/
  - url: http://www.distributeddatamining.org/DistributedDataMining/
  - url: http://boinc.freerainbowtables.com/distrrtgen/
  - url: http://volunteer.cs.und.edu/dna/
  - url: http://docking.cis.udel.edu/
  - url: http://donateathome.org/
  - url: http://home.edges-grid.eu/home/
  - url: http://einstein.phys.uwm.edu/
  - url: http://www.enigmaathome.net/
  - url: http://eon.ices.utexas.edu/eon2/
  - url: http://boinc.ucd.ie/fmah/
  - url: http://gerasim.boinc.ru/
  - url: http://www.gpugrid.net/
  - url: http://registro.ibercivis.es/
  - url: http://falua.cesfelipesegundo.com/Ideologias/
  - url: http://lhcathome2.cern.ch/test4theory/
  - url: http://lhcathomeclassic.cern.ch/sixtrack/
  - url: http://www.fti.dn.ua/magnetism/
  - url: http://www.malariacontrol.net/
  - url: http://milkyway.cs.rpi.edu/milkyway/
  - url: http://mindmodeling.org/
  - url: http://moowrap.net/
  - url: http://boinc.med.usherbrooke.ca/nrg/
  - url: http://falua.cesfelipesegundo.com/Neurona/
  - url: http://escatter11.fullerton.edu/nfs/
  - url: http://numberfields.asu.edu/NumberFields/
  - url: http://oproject.info/
  - url: http://boinc.isa.ru/dcsdg/
  - url: http://physicsathome.tk/physics/
  - url: http://pirates.spy-hill.net/
  - url: http://boinc.fzk.de/poem/
  - url: http://www.primaboinca.com/
  - url: http://qcn.stanford.edu/sensor/
  - url: http://radioactiveathome.org/boinc/
  - url: http://ralph.bakerlab.org/
  - url: http://boinc.riojascience.com/
  - url: http://www.rnaworld.de/rnaworld/
  - url: http://boinc.bakerlab.org/rosetta/
  - url: http://sat.isa.ru/pdsat/
  - url: http://setiathome.berkeley.edu/
  - url: http://setiweb.ssl.berkeley.edu/beta/
  - url: http://boincsimap.org/boincsimap/
  - url: http://mmgboinc.unimi.it/
  - url: http://dg.imp.kiev.ua/slinca/
  - url: http://volunteer.cs.und.edu/subset_sum/
  - url: http://sudoku.nctu.edu.tw/
  - url: http://boinc.umiacs.umd.edu/
  - url: http://ec2-23-23-126-96.compute-1.amazonaws.com/pogs/
  - url: http://boinc.vgtu.lt/vtuathome/
  - url: http://vcsc.cs.uh.edu/virtual-prairie/
  - url: http://volpex.cs.uh.edu/VCP/
  - url: http://bearnol.is-a-geek.com/wanless2/
  - url: http://volunteer.cs.und.edu/wildlife/
  - url: http://wuprop.boinc-af.org/
  - url: http://yafu.dyndns.org/yafu/
